<div class="container-fluid">
  <div class="row">

    <div class="col-sm" *ngIf="occurrences">

      <h2>Como anda a ciclovia da sua cidade?</h2>

      <p class="lead">
        Esse mapa foi feito para você, que anda de bike ou outro modal, postar qualquer incidente que encontrar enquanto estiver dando o rolê.
      </p>

      <hr />

      <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="true" >

        <agm-marker *ngFor="let occurrence of occurrences"
                    [latitude]="occurrence.latitude"
                    [longitude]="occurrence.longitude"
                    [iconUrl]="iconPath + occurrence.status.pinName">

          <agm-info-window>
            <p><strong> {{occurrence.status.name}}</strong></p>
            <p><b>quando </b> <strong>{{occurrence.occurrenceDate}}</strong></p>
            <p><b>onde </b><strong>{{occurrence.location}}</strong></p>
            <p><b>descrição: </b><strong>{{occurrence.description}}</strong></p>
            <a href="/occurrences/{{occurrence.id}}"> + ver detalhes </a>
          </agm-info-window>

        </agm-marker>
      </agm-map>
    </div>

  </div>
</div>
