<div class="container-fluid">
      <p class="text-justify">
          Somos uma iniciativa de pessoas que querem andar livremente com seus variados
          tipos de modais por todas as cidades do Brasil. O objetivo dessa ferramenta é dar visibilidade
          à necessidades de manutenção, reparação e até mesmo a criação de ciclovias,
          questões presenciados durante nossas locomoções pela cidade.
      </p>

      <h4>Equipe</h4>

      <dl class="row">
          <dt class="col-sm-3">Pedro Hos (@pedro_hosilva)</dt>
          <dd class="col-sm-9">Agricultor e Codeiro que acredita que podemos mudar tudo com Dados Abertos</dd>
          <dt class="col-sm-3">Marcell Marra</dt>
          <dd class="col-sm-9">Mais um latino americano</dd>
      </dl>

      <h4>Apoio</h4>

      <p>Ciclistas de São José do Campos</p>
</div>
